@charset "utf-8";

//Fonts: Merriweather - serif menu font, Ropa Sans - DIN-like article font, JetBrains Mono - code blocks
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Merriweather:wght@300&family=Ropa+Sans&display=swap');

// Define defaults for each variable.

$menu-font-family: 'Merriweather', serif !default;
$menu-font-size: 18px !default;
$menu-font-weight: 300 !default;

$base-font-family: 'Ropa Sans', sans-serif !default;
$base-font-size: 18px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$code-font-family: 'JetBrains Mono', monospace !default;
$code-font-size: 14px !default;
$code-font-weight: 300 !default;
$code-line-height: 1.5 !default;
$code-background: #2b2b2b !default;

$spacing-unit: 30px !default;

$text-color: #d8d8d8 !default;
$background-color: #2f2b26 !default;
$page-text-color: #1E1C19 !default;
$page-color: #aaa197 !default;
$footer-color: #272423 !default;
$link-color: #af9256 !default;

$grey-color: #3e3e42 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 1080px !default;
$on-palm: 600px !default;
$on-laptop: 800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "general", "layout", "syntax-highlighting", "header";