<header class="site-header-parallax" role="banner" id="banner">
    <div id="scene" class="scene">
        <div class="layer-element-drone" data-depth="0.1"></div>
        <div class="layer-element-scene" data-depth="0.2"></div>
        <div class="layer-element" data-depth="0.3" hans="0"></div>
        <div class="layer-element" data-depth="0.45" hans="1"></div>
        <div class="layer-element" data-depth="0.65" hans="2"></div>
        <div class="layer-element" data-depth="0.75" hans="3"></div>
        <div class="layer-element" data-depth="1" hans="4"></div>

    </div>
    <script src="assets/header/parallax.js"></script>
    <script>
        var scene = document.getElementById('scene');
        var parallax = new Parallax(scene, {});
    </script>

    <div id="logo">
        <img src="../assets/header/hammer_logo.png"/>
        <p>
            We are<br>
            <b>Team Immersive Intelligence</b>
        </p>
    </div>

</header>
